*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
	background: url("https://papik.pro/uploads/posts/2021-11/1636575832_3-papik-pro-p-krasnii-fon-bez-risunka-3.jpg");
}
.text2 {
	text-align: center;
	color: white;
	font-size: 60px;
	font-family: TimesNewRomanPSMT;

	margin: 150px 0px 40px 0px;
	
}
.first {
	padding: 10px 0px 10px 70px;
	max-width: 300px;
	margin: 0px auto;
	display: block;
	border: 2px solid #000;
	background-color: #680019;
	border-radius: 25px;
}
.username{
	border: 1px solid black;
	height: 25px;
	text-align: center;
	text-transofm: uppercase;
	border-radius: 25px;
	margin: 0px 0px 10px 0px ;
	font-family: TimesNewRomanPSMT;
}
.password {
	border: 1px solid black;
	height: 25px;
	margin: 0px 0px 20px 0px;
	text-align: center;
	text-transofm: uppercase;
	border-radius: 25px;
}
.button1 {
	width: 190px;
	height: 50px;
	background-color:white ;
	font-size: 14px;
	color: black;
	text-transform: uppercase;
	border-radius: 25px;
	font-family: Arial;
	box-shadow:0 0 10px #81B8B5;
	margin: 0px 0px 10px 0px;
}
.button_text {
	font-size: 15px;
	font-family: TimesNewRomanPSMT;
	max-width: 50px;
}
.regester{
	color: #1500FF;
	font-size: 20px;
	padding: 30px 50px 310px 820px;
}

.checkbox1{
	margin: 0px 0px 10px 0px;
	font-size: 30px;
	font-family: TimesNewRomanPSMT;
}